
<h2>{{include.message}}</h2>

<div class="colour-red search-box" style="{{include.style}}">

    <form style="max-width: 24em" action="//mysociety.us9.list-manage.com/subscribe/post?u=53d0d2026dea615ed488a8834&amp;id=287dc28511" method="POST">
        <div style="position: absolute; left: -5000px;">
            <input name="b_53d0d2026dea615ed488a8834_287dc28511" tabindex="-1" value="" type="text">
        </div>
        <input name="group[11745][256]" value="1" type="hidden">
        <div class="inline-input">
            <input name="EMAIL" placeholder="you@email.com" aria-label="Email address" type="email">
        </div><div class="inline-button">
            <input style="background-color: #dd4e4d;" type="submit" class="button" name="subscribe" value="Subscribe" onclick="ga('send', 'event', 'Newsletter Page', 'newsletter signup', '')">
        </div>
        <p>
            <label>
                <input name="group[11745][32]" value="1" type="checkbox" style="vertical-align: 0.1em; margin-right: 0.3em;">
                Also sign up to general mySociety news
            </label>
        </p>
    </form>
</div>
